{
  "SMTP_DOMAIN": "knban.com",
  "SMTP_HOST": "localhost",
  "SMTP_PORT": 25,
  "GITLAB_HTTPS": true,
  "GITLAB_HTTPS_ONLY": false,
  "GITLAB_HOST": "gitlab.knban.com",
  "GITLAB_EMAIL": "gitlab@knban.com"
}
